@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
}

.contenedor {
  background-color: rgb(245, 245, 245);
  padding-bottom: 40px;
}

.header {
  padding-top: 10px;
  width: 90%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 900;
  font-size: 20px;
  color: orange;
}

.hamburguesa {
  width: 30px;
  cursor: pointer;
  display: block; /* Mostrar en móvil */
}

@media (min-width: 768px) {
  .hamburguesa {
    display: none;
  }
}

.menu {
  display: none;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.navegacion {
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;
  gap: 30px;
}

@media (min-width: 992px) {
  .navegacion {
    gap: 50px;
  }
}

.navegacion a {
  text-decoration: none;
  color: rgb(97, 97, 97);
  font-weight: 400;
  font-size: 15px;
}

.navegacion a:hover {
  color: black;
}

.navegacion li:last-child a:last-child {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 700;
  background-color: orange;
  color: white;
  border-radius: 10px;
  border: 1px solid orange;
  padding: 5px 10px;
}

.navegacion li:last-child a:last-child:hover {
  background-color: white;
  color: orange;
}

.presentacion {
  width: 90%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .presentacion {
    flex-direction: row;
  }
}

.informacion {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .informacion {
    text-align: start;
    align-items: flex-start;
  }
}

.informacion--boton button {
  padding: 10px;
  background-color: orange;
  border: 1px solid orange;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
}

.informacion--boton button:hover {
  background-color: white;
  color: orange;
  cursor: pointer;
}

.presentacion--imagen {
  max-width: 300px;
  filter: drop-shadow(0 1mm 3mm rgba(255, 166, 0, 0.468));
}

@media (min-width: 456px) {
  .presentacion--imagen {
    max-width: 500px;
  }
}

@media (min-width: 1024px) {
  .presentacion--imagen {
    max-width: 800px;
  }
}

/* Sección productos */

.productos {
  width: 90%;
  margin: 0 auto;
}

.productos--titulo {
  text-align: center;
  margin: 20px 0 50px;
}

.bioinsumos {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* Las tarjetas se adaptan automáticamente */
}

.bioinsumo {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(196, 196, 196, 0.4);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.bioinsumo:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.bioinsumo img {
  width: 150px;
  filter: drop-shadow(0 0 0.9rem orange);
  margin-top: -60px;
}

.bioinsumo p {
  font-size: 15px;
  color: rgb(63, 63, 63);
}

.bioinsumo--info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bioinsumo--info p {
  font-weight: 900;
  margin: 0;
}

.bioinsumo--info button {
  background-color: orange;
  color: white;
  font-weight: 900;
  padding: 5px 12px;
  border-radius: 50%;
  font-size: 25px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bioinsumo--info button:hover {
  background-color: darkorange;
}
